// Base Class Definition
// -------------------------

.#{$ci-css-prefix} {
  font: normal normal normal #{$ci-font-size-base}/#{$ci-line-height-base} crrafticons; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  position: relative;
}
