// Icons content
//---------------------

.#{$ci-css-prefix}-alert:before { content: $ci-var-alert; }
.#{$ci-css-prefix}-bars:before { content: $ci-var-bars; }
.#{$ci-css-prefix}-beer:before { content: $ci-var-beer; }
.#{$ci-css-prefix}-bell:before { content: $ci-var-bell; }
.#{$ci-css-prefix}-bello:before { content: $ci-var-bello; }
.#{$ci-css-prefix}-bookmark:before { content: $ci-var-bookmark; }
.#{$ci-css-prefix}-bulb:before { content: $ci-var-bulb; }
.#{$ci-css-prefix}-bullhorn:before { content: $ci-var-bullhorn; }
.#{$ci-css-prefix}-camera:before { content: $ci-var-camera; }
.#{$ci-css-prefix}-cardback:before { content: $ci-var-cardback; }
.#{$ci-css-prefix}-cardmaster:before { content: $ci-var-cardmaster; }
.#{$ci-css-prefix}-cardvisa:before { content: $ci-var-cardvisa; }
.#{$ci-css-prefix}-cart:before { content: $ci-var-cart; }
.#{$ci-css-prefix}-check:before { content: $ci-var-check; }
.#{$ci-css-prefix}-chrome:before { content: $ci-var-chrome; }
.#{$ci-css-prefix}-cloud:before { content: $ci-var-cloud; }
.#{$ci-css-prefix}-clouddn:before { content: $ci-var-clouddn; }
.#{$ci-css-prefix}-cloudup:before { content: $ci-var-cloudup; }
.#{$ci-css-prefix}-cog:before { content: $ci-var-cog; }
.#{$ci-css-prefix}-cogp:before { content: $ci-var-cogp; }
.#{$ci-css-prefix}-cogs:before { content: $ci-var-cogs; }
.#{$ci-css-prefix}-comment:before { content: $ci-var-comment; }
.#{$ci-css-prefix}-commento:before { content: $ci-var-commento; }
.#{$ci-css-prefix}-comments:before { content: $ci-var-comments; }
.#{$ci-css-prefix}-commentso:before { content: $ci-var-commentso; }
.#{$ci-css-prefix}-crraft:before { content: $ci-var-crraft; }
.#{$ci-css-prefix}-crrafto:before { content: $ci-var-crrafto; }
.#{$ci-css-prefix}-directscribe:before { content: $ci-var-directscribe; }
.#{$ci-css-prefix}-discuss:before { content: $ci-var-discuss; }
.#{$ci-css-prefix}-discussion:before { content: $ci-var-discussion; }
.#{$ci-css-prefix}-down:before { content: $ci-var-down; }
.#{$ci-css-prefix}-download:before { content: $ci-var-download; }
.#{$ci-css-prefix}-dropbox:before { content: $ci-var-dropbox; }
.#{$ci-css-prefix}-drupal:before { content: $ci-var-drupal; }
.#{$ci-css-prefix}-emailo:before { content: $ci-var-emailo; }
.#{$ci-css-prefix}-eye:before { content: $ci-var-eye; }
.#{$ci-css-prefix}-eyeoff:before { content: $ci-var-eyeoff; }
.#{$ci-css-prefix}-facebook:before { content: $ci-var-facebook; }
.#{$ci-css-prefix}-firefox:before { content: $ci-var-firefox; }
.#{$ci-css-prefix}-folder:before { content: $ci-var-folder; }
.#{$ci-css-prefix}-folderopen:before { content: $ci-var-folderopen; }
.#{$ci-css-prefix}-github:before { content: $ci-var-github; }
.#{$ci-css-prefix}-globe:before { content: $ci-var-globe; }
.#{$ci-css-prefix}-googledrive:before { content: $ci-var-googledrive; }
.#{$ci-css-prefix}-googleplus:before { content: $ci-var-googleplus; }
.#{$ci-css-prefix}-heart:before { content: $ci-var-heart; }
.#{$ci-css-prefix}-hearto:before { content: $ci-var-hearto; }
.#{$ci-css-prefix}-help:before { content: $ci-var-help; }
.#{$ci-css-prefix}-home:before { content: $ci-var-home; }
.#{$ci-css-prefix}-html5:before { content: $ci-var-html5; }
.#{$ci-css-prefix}-ie:before { content: $ci-var-ie; }
.#{$ci-css-prefix}-inr:before { content: $ci-var-inr; }
.#{$ci-css-prefix}-justice:before { content: $ci-var-justice; }
.#{$ci-css-prefix}-key:before { content: $ci-var-key; }
.#{$ci-css-prefix}-left:before { content: $ci-var-left; }
.#{$ci-css-prefix}-link:before { content: $ci-var-link; }
.#{$ci-css-prefix}-location:before { content: $ci-var-location; }
.#{$ci-css-prefix}-magic:before { content: $ci-var-magic; }
.#{$ci-css-prefix}-mail:before { content: $ci-var-mail; }
.#{$ci-css-prefix}-microphone:before { content: $ci-var-microphone; }
.#{$ci-css-prefix}-microphoneoff:before { content: $ci-var-microphoneoff; }
.#{$ci-css-prefix}-paperclip:before { content: $ci-var-paperclip; }
.#{$ci-css-prefix}-pause:before { content: $ci-var-pause; }
.#{$ci-css-prefix}-paypal:before { content: $ci-var-paypal; }
.#{$ci-css-prefix}-pencil:before { content: $ci-var-pencil; }
.#{$ci-css-prefix}-phone:before { content: $ci-var-phone; }
.#{$ci-css-prefix}-picture:before { content: $ci-var-picture; }
.#{$ci-css-prefix}-play:before { content: $ci-var-play; }
.#{$ci-css-prefix}-plug:before { content: $ci-var-plug; }
.#{$ci-css-prefix}-print:before { content: $ci-var-print; }
.#{$ci-css-prefix}-record:before { content: $ci-var-record; }
.#{$ci-css-prefix}-right:before { content: $ci-var-right; }
.#{$ci-css-prefix}-safari:before { content: $ci-var-safari; }
.#{$ci-css-prefix}-scissors:before { content: $ci-var-scissors; }
.#{$ci-css-prefix}-search:before { content: $ci-var-search; }
.#{$ci-css-prefix}-send:before { content: $ci-var-send; }
.#{$ci-css-prefix}-sendo:before { content: $ci-var-sendo; }
.#{$ci-css-prefix}-share:before { content: $ci-var-share; }
.#{$ci-css-prefix}-shield:before { content: $ci-var-shield; }
.#{$ci-css-prefix}-skype:before { content: $ci-var-skype; }
.#{$ci-css-prefix}-spinner:before { content: $ci-var-spinner; }
.#{$ci-css-prefix}-star:before { content: $ci-var-star; }
.#{$ci-css-prefix}-starhalf:before { content: $ci-var-starhalf; }
.#{$ci-css-prefix}-staro:before { content: $ci-var-staro; }
.#{$ci-css-prefix}-starohalf:before { content: $ci-var-starohalf; }
.#{$ci-css-prefix}-tag:before { content: $ci-var-tag; }
.#{$ci-css-prefix}-tags:before { content: $ci-var-tags; }
.#{$ci-css-prefix}-thumbsdown:before { content: $ci-var-thumbsdown; }
.#{$ci-css-prefix}-thumbsup:before { content: $ci-var-thumbsup; }
.#{$ci-css-prefix}-ticket:before { content: $ci-var-ticket; }
.#{$ci-css-prefix}-tools:before { content: $ci-var-tools; }
.#{$ci-css-prefix}-trash:before { content: $ci-var-trash; }
.#{$ci-css-prefix}-trasho:before { content: $ci-var-trasho; }
.#{$ci-css-prefix}-tty:before { content: $ci-var-tty; }
.#{$ci-css-prefix}-twitter:before { content: $ci-var-twitter; }
.#{$ci-css-prefix}-up:before { content: $ci-var-up; }
.#{$ci-css-prefix}-video:before { content: $ci-var-video; }
.#{$ci-css-prefix}-whatsapp:before { content: $ci-var-whatsapp; }
.#{$ci-css-prefix}-wordpress:before { content: $ci-var-wordpress; }
.#{$ci-css-prefix}-youtube:before { content: $ci-var-youtube; }
