// List Icons
// -------------------------

.#{$ci-css-prefix}-ul {
  padding-left: 0;
  margin-left: $ci-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$ci-css-prefix}-li {
  position: absolute;
  left: -$ci-li-width;
  width: $ci-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$ci-css-prefix}-lg {
    left: -$ci-li-width + (4em / 14);
  }
}
