// craaft icon variables
//-----------------------

$ci-font-path:        "../fonts" !default;
$ci-font-size-base:   14px !default;
$ci-line-height-base: 1 !default;
$ci-css-prefix:       ci !default;
$ci-version:          "1.0.3" !default;
$ci-border-color:     #eee !default;
$ci-inverse:          #fff !default;
$ci-li-width:         (30em / 14) !default;

$ci-var-directscribe: "\44";
$ci-var-twitter: "\74";
$ci-var-wordpress: "\57";
$ci-var-facebook: "\66";
$ci-var-mail: "\45";
$ci-var-phone: "\70";
$ci-var-ticket: "\34";
$ci-var-bars: "\42";
$ci-var-tags: "\69";
$ci-var-tag: "\6a";
$ci-var-heart: "\48";
$ci-var-down: "\33";
$ci-var-up: "\32";
$ci-var-left: "\31";
$ci-var-right: "\39";
$ci-var-beer: "\72";
$ci-var-cog: "\73";
$ci-var-download: "\30";
$ci-var-googleplus: "\67";
$ci-var-dropbox: "\62";
$ci-var-paperclip: "\78";
$ci-var-send: "\79";
$ci-var-comment: "\7a";
$ci-var-comments: "\41";
$ci-var-cloudup: "\75";
$ci-var-googledrive: "\64";
$ci-var-hearto: "\5a";
$ci-var-commento: "\36";
$ci-var-commentso: "\46";
$ci-var-emailo: "\65";
$ci-var-camera: "\53";
$ci-var-sendo: "\49";
$ci-var-trash: "\37";
$ci-var-trasho: "\38";
$ci-var-whatsapp: "\77";
$ci-var-location: "\61";
$ci-var-globe: "\50";
$ci-var-github: "\47";
$ci-var-crraft: "\43";
$ci-var-crrafto: "\63";
$ci-var-cogs: "\68";
$ci-var-link: "\6b";
$ci-var-share: "\6d";
$ci-var-scissors: "\6e";
$ci-var-print: "\6f";
$ci-var-microphone: "\71";
$ci-var-microphoneoff: "\76";
$ci-var-play: "\4a";
$ci-var-bell: "\4b";
$ci-var-bello: "\4c";
$ci-var-search: "\4d";
$ci-var-tty: "\4e";
$ci-var-video: "\4f";
$ci-var-bullhorn: "\51";
$ci-var-cardvisa: "\52";
$ci-var-cardmaster: "\54";
$ci-var-check: "\56";
$ci-var-thumbsup: "\59";
$ci-var-thumbsdown: "\35";
$ci-var-spinner: "\21";
$ci-var-inr: "\22";
$ci-var-firefox: "\23";
$ci-var-safari: "\24";
$ci-var-skype: "\25";
$ci-var-cart: "\26";
$ci-var-youtube: "\27";
$ci-var-plug: "\28";
$ci-var-star: "\29";
$ci-var-pencil: "\2a";
$ci-var-chrome: "\58";
$ci-var-cogp: "\2c";
$ci-var-clouddn: "\2b";
$ci-var-cloud: "\2d";
$ci-var-drupal: "\2e";
$ci-var-eye: "\2f";
$ci-var-eyeoff: "\3a";
$ci-var-ie: "\3b";
$ci-var-html5: "\3c";
$ci-var-help: "\3d";
$ci-var-magic: "\3e";
$ci-var-picture: "\3f";
$ci-var-shield: "\40";
$ci-var-bookmark: "\5b";
$ci-var-justice: "\5d";
$ci-var-cardback: "\5e";
$ci-var-home: "\60";
$ci-var-alert: "\7b";
$ci-var-discuss: "\7c";
$ci-var-discussion: "\7d";
$ci-var-bulb: "\7e";
$ci-var-key: "\5c";
$ci-var-record: "\e001";
$ci-var-tools: "\6c";
$ci-var-starhalf: "\5f";
$ci-var-starohalf: "\e002";
$ci-var-staro: "\e003";
$ci-var-pause: "\e004";
$ci-var-folder: "\e000";
$ci-var-folderopen: "\e005";
$ci-var-paypal: "\55";
